.sidebar {
  padding: 8px;
  margin-right: 8px;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-tree {
  margin-top: 12px;
  flex: 1;
}

.ant-tree-node-content-wrapper {
  line-height: 28px;
}
