.table-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ant-table-wrapper,
.ant-spin-nested-loading,
.ant-spin-container,
.ant-table-container {
  height: 100%;
}

.ant-spin-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ant-table {
  flex: 1;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.ant-table-container {
  display: flex;
  flex-direction: column;
}
